body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.top {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.bottom {
    position: absolute;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

#top-animation{
    height: 100%;

}

#bottom-animation{
    height: 100%;
}

.middle{
    margin-left: 20%;
    b{
        font-size: 20px;
        color: #000080;
    }
    .svg-1 {
        height: 2%;
        width: 2%;
    }
    cont{
        margin-left: 30%;
    }
}